{% extends 'site2/index.html' %}

{% block content %}
<style>
    h1 {
        font: 20px
    }
</style>
<div class="p-2">
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="home1" class="text-primary hover:underline" style="font-size: larger;">Dashboard</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-1 rtl:before:ml-1" style="font-size: larger;">
            <span>Bank Statement Summary</span>
        </li>
    </ul>
</div>
<div  class="panel">
    <label for="browser">Choose your browser from the list:</label>
    <select id="inputfield">
        <option>--Select Option--</option>
        <option value="Project Wise">HIGHWAY GREENS</option>
        <option value="Year Wise">HIGHWAY GREENS-II</option>
        <option value="Team Wise">BHISHMA GREENS</option>
    </select>
</div>

    <div class="table-responsive" id="mytable"  style="display: none;margin-left:auto;margin-right:auto;">
        <table class="table-hover">
            <thead>
                <tr>
                    <td></td>
                    <center><th><b>HIGHWAY GREENS</b></th></center>
                </tr>
                <tr>
                    <th><b>CODE</b></th>
                    <th><b>DESCRIPTION OF TRANSACTION</b></th>
                    <th><b>TOTAL</b></th>
                    <th><b>IN CR</b></th>
                    <th><b>REMARKS</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CR-001</td>
                    <td>CUST PAYMENT TO SOCIETY</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>CR-002</td>
                    <td>CANCELLED CUST - OLD CREDIT</td>
                    <td>5</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>DR-002</td>
                    <td>REFUND TO CUSTOMER</td>
                    <td>5</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
            </tbody>
            <!--Highway Green II-->
            <thead>
                <tr>
                    <th></th>
                    <th><b>CUST PAYMENT - AVAILABLE WITH SOCIETY</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CR-003</td>
                    <td>CHEQUE BOUNCE - CREDIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>DR-003</td>
                    <td>CHEQUE BOUNCE - DEBIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
            </tbody>

            <!--bg-->

            <thead>
                <tr>
                    <th></th>
                    <th><b>CREDIT EXCESS / DEBIT EXCESS / NO DIFF</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CR-005</td>
                    <td>PANORAMA TO 360 - CREDIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>DR-005</td>
                    <td>360 TO GREENS - DEBIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
            </tbody>

            <!--bg2-->

            <thead>
                <tr>
                    <th></th>
                    <th><b>REFUNDABLE TO PANORAMA / RECEIVABLE BY 360 / NO DIFF</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CR-006</td>
                    <td>DEVELOPER - CREDIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>DR-006</td>
                    <td>DEVELOPER - DEBIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
            </tbody>
            <!--ks-->
            <thead>
                <tr>
                    <th></th>
                    <th><b>TOTAL "BANK A/C MAINTENANCE CHARGES"</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CR-008</td>
                    <td>SOCIETY - CREDIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>DR-008</td>
                    <td>SOCIETY - DEBIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SOCIETY STAFF SALARY</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SOCIETY OFFICE RENT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SOCIETY OFFICE TELEPHONE CHARGES</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>AGM/AUDIT EXPENSES</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>CAB HIRING</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>PRINTING & STATIONERY</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>OTHER OFFICE EXPENSES</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>DONATION</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>

            </tbody>
            <!--ku-->
            <thead>
                <tr>
                    <th></th>
                    <th><b>TOTAL "SOCIETY OFFICE EXPENSES"</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CR-009</td>
                    <td>SOCIETY 360 CUST PAYMENT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    
                </tr>
                <tr>
                    <td>CR-010</td>
                    <td>SOCIETY 360 CANCELLED CUST PAYMENT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>DR-010</td>
                    <td>REFUND TO SOCIETY 360 CUSTOMER</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
            </tbody>
            <!--tot-->
            <thead>
                <tr>
                    <td></td>
                    <th><b>SOCIETY CUSTOMER PAYMENT AVAILABLE</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CR-012</td>
                    <td>SOCIETY OTH PROJ TO 360 - CREDIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    
                </tr>
                <tr>
                    <td>DR-012</td>
                    <td>360 TO SOCIETY OTH PROJ - DEBIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <td></td>
                    <th><b> REFUNDABLE TO ARUNODAYA / RECEIVABLE BY 360 / NO DIFF</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CR-013</td>
                    <td>UNKNOWN - CREDIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    
                </tr>
                <tr>
                    <td>DR-013</td>
                    <td>UNKNOWN - DEBIT</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--year Wise-->
    <div class="table-responsive" id="project" style="display: none;">
        <table class="table-hover">
            <thead>
                <tr>
                    <th><b>Year Wise</b></th>
                </tr>
                <tr>
                    <th></th>
                    <th>2016</th>
                    <th>2017</th>
                    <th>2018</th>
                    <th>2019</th>
                    <th>2020</th>
                    <th>2021</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <th><b>Highway Green</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
            <!--hg11-->
            <thead>
                <tr>
                    <th><b>Highway Green II</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
            <!--bg-->
            <thead>
                <tr>
                    <th><b>Bhishma Greens</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
            <!--bgII-->
            <thead>
                <tr>
                    <th><b>Bhishma GreensII</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
            <!--kv-->
            <thead>
                <tr>
                    <th><b>Kaveri Sagara</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
            <!--ks-->
            <thead>
                <tr>
                    <th><b>Kubera and Urban Greens</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
            <!--tot-->
            <thead>
                <tr>
                    <th><b>Total</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Team Wise-->
    <div class="table-responsive" id="team" style="display: none;">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Team Wise</th>
                </tr>
                <tr>
                    <th>Highway Green</th>
                </tr>
                <tr>
                    <th></th>
                    <th>1200</th>
                    <th>1500</th>
                    <th>2400</th>
                    <th>4000</th>
                    <th>2200</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>Highway Green II</th>
                </tr>
                <tr>
                    <th></th>
                    <th>1200</th>
                    <th>1500</th>
                    <th>2400</th>
                    <th>4000</th>
                    <th>2200</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.of.Booking</td>
                    <td>10</td>
                    <td>15</td>
                    <td>9</td>
                    <td>-</td>
                    <td>-</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>Sq.Ft</td>
                </tr>
            </tbody>
        </table>
    </div>


<script>
    const inputField = document.getElementById('inputfield');
    const myTable = document.getElementById('mytable');
    const Project = document.getElementById('project');
    const Team = document.getElementById('team');

    inputField.addEventListener('input', function () {
        if (inputField.value === 'Project Wise') {
            myTable.style.display = 'table';// Show the table
            Project.style.display = 'none';
            Team.style.display = 'none';
        } else if (inputField.value === 'Year Wise') {
            myTable.style.display = 'none';// Show the table
            Project.style.display = 'table';
            Team.style.display = 'none';
        } else if (inputField.value === 'Team Wise') {
            myTable.style.display = 'none';// Show the table
            Project.style.display = 'none';
            Team.style.display = 'table';
        }
        else {
            myTable.style.display = 'none';
            Project.style.display = 'none';
            Team.style.display = 'none'; // Hide the table
        }
    });
</script>
{% endblock %}