{% extends 'site2/index.html'%}
{% block content %}
{% load static %}

<form method="post">
    {% csrf_token %}
    <label for="search_membername">Search Customer:</label>
    <input type="text" name="search_membername" id="search_membername" required>
    <button type="submit" name="action" value="search_customer">Search Customer</button>
</form>

{% if matching_customers %}
    <h2>Matching Customers:</h2>
    <ul>
        {% for customer in matching_customers %}
            <li>
                {{ customer.membername }}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="selected_customer" value="{{ customer.id }}">
                    
                    <label for="seniorityno">Seniority No:</label>
                    <input type="text" name="seniorityno" required>
                    
                    <label for="amount">Amount:</label>
                    <input type="text" name="amount" required>
                    <label for="dimension">Dimension</label>
                    <input type="text" name="dimension">
                    <label for="modeofpay">modeofpay</label>
                    <input type="text" name="modeofpay">
                    <label for="bank">bank</label>
                    <input type="text" name="bank">
                    <label for="chequeno">chequeno</label>
                    <input type="text" name="chequeno">
                    <label for="branch">branch</label>
                    <input type="text" name="branch">
                    <label for="paydate">paydate</label>
                    <input type="text" name="paydate">
                    <label for="paystatus">paystatus</label>
                    <input type="text" name="paystatus">
                    <label for="dateofreceipt">dateofreceipt</label>
                    <input type="text" name="dateofreceipt">
                    <!-- Add other input fields for the order details -->
                    
                    <button type="submit" name="action" value="create_order">Create Order</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endif %}



{% if order_created %}
    <div>
        Order for {{ selected_customer.membername }} created successfully!
    </div>
{% endif %}
{% endblock %}
