{% extends 'site2/index.html' %}
{% block content %}
{% load static %}

<div class="panel">
    <div class="table">
        <tr>
            <td>
                <p>This is to confirm that SYED MALLIKA Residing in 26-39-121/12/A, AT AGRAHARAM SRI RAM NAGAR, MAIN ROAD, GUNTUR, 522004, Have booked a site of measuring 30X50(1500 SQFT) in the BHISHMA GREENS-II Located at Gokare village, Devanahalli Taluk, Karnataka 562110 from BSNL Employees and Citizens House Building Co-Operative Society Ltd. on 14-08-2023. You have booked your site by paying an initial amount of Rs. 449550/- by Cheque number:151749 Drawn at ICICI BANK Bank SARJAPUR ROAD Branch. Membership Id: AM-2916. Seniority ID: BG-II/SR-0062
                </p>
        
                <ol type="1">
                    <li>1.The booking of your site is purely based on rules and regulations of the society and provisions of BSNL Employees and Citizens House Building Co-Operative Society Ltd. registration act and the rules and By-laws of the society.</li>
                    <li>2.The allotment of site is subject to approval of membership/associate membership, clearance of land by concerned authority.ssss</li>
                    <li>3.Sites will be allotted on first come first serve basis.</li>
                    <li>4.Conditions mentioned behind the application will be applicable.</li>
                    <li>5.Transfers of membership/bookings are only after the completion of the project period.</li>
                    <li>6.Interest will not be paid for any withdrawals of site advances.</li>
                    <li>7.All the remaining payments should be paid as per the project payment scheme. Bank loans will be arranged from leading banks after the plan approval.</li>
                    <li>8.Price of Rs. 999 perSqft will be charged, Registration fee is additional.</li>
                    <li>9.The decision of the board is the final during the allotment and registration of the sites.</li>
                    <li>10.Any issues arise in the process of completion of the project should be resolved by mutual discussions.</li>
                    <li>11.Refund will be given after One Year from the booking date.</li>
                </ol>
            </td>
        </tr>  
    </div>     
</div>

{% endblock %}