{% extends 'site2/index.html'%}
{% block content %}
{% load static %}
<div class="panel mt-6">
    <table>
        <thead>
            <tr>
                <th>S.NO</th>
                <th>Customer Name</th>
                <th>Date of Receipt</th>
                <th>Receipt No</th>
                <th>Cheque No</th>
                <th>Amount</th>
                <th>Pay Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Muthu</td>
                <td>02/04/2010</td>
                <td>2</td>
                <td>5</td>
                <td>21345</td>
                
            </tr>
        </tbody>
    </table>
</div>
<!-- script -->
{% endblock %}