{% extends 'site2/index.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<form class="space-y-5">
    <label class="text-xl font-semibold dark:text-white-light p-2" style="background-color: blueviolet;"><b>Generate Receipts</b></label>
    <div class="panel">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-5"> 
            <div>
                <label>Customer Name</label>
                <input id="customFname" type="text" placeholder="Customer Name" class="form-input" x-model="form4.firstName" />
            </div>
            <div>
                <label>Dimension</label>
                <input type="text" class="form-input"  placeholder="Dimension">
            </div>
            <div>
                <label>Amount Paid</label>
                <input type="number" class="form-input" placeholder="Amount Paid">
            </div>
            <div>
                <label></label>
            </div>
        </div>
    </div>
    <div class="panel">
        <h2 class="text-lg font-semibold dark:text-white-light p-1" style="background-color: rgb(138, 202, 167);"><b>Receipts Details</b></h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-5 p-2">
        <div>
            <label>Mode of Pay</label>
            <input type="text" class="form-input" placeholder="Mode of Pay">
        </div>
        <div>
            <label>CHEQ/NEFT No</label>
            <input type="number" class="form-input" placeholder="Cheq/Neft No">
        </div>
        <div>
            <label>Bank</label>
            <input type="text" class="form-input" placeholder="Bank">
        </div>
        <div>
            <label></label>
        </div>
        <div>
            <label>Branch</label>
            <input type="text" class="form-input" placeholder="Branch">
        </div>
        <div>
            <label>Pay Date</label>
            <input type="date" class="form-input" placeholder="Pay Date">
        </div>
        <div>
            <label>Amount</label>
            <input type="number" class="form-input" placeholder="Amount">
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
        <div>
            <label>Pay Status</label>
            <input type="text" class="form-input" placeholder="Pay status" />
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
        <div>
            <label>Receipt No</label>
            <input type="number" class="form-input" placeholder="Receipt No" />
        </div>
        <div>
            <label>Date of Receipt</label>
            <input type="date" class="form-input" placeholder="" />
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-5">
        <center><button type="submit" class="btn btn-primary text-lg font-semibold dark:text-white-light">Submit</button></center>
    </div>
    </div>
</form>

{% endblock %}